.hero {
    gap: 80px;
    display: flex;
    flex-direction: column;

    background: url(/src/assets/pages/main/background.png);
    padding-bottom: 70px;

    font-family: 'Lato';
    color: #1E212C;
}

.hero-body {
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Hero Column One */

.hero-column-one {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.hero-one-body {
    font-weight: 900;
    font-size: 64px;
}

.column-buttons {
    gap: 15px;
    display: flex;
}

.hero-about-button {
    padding: 10px 30px;
    border-radius: 4px;
    border-color: #F75E05;
    border-style: solid;
    border-width: 1px;

    color: #F75E05;
}

.hero-courses-button {
    padding: 10px 35px;
    border-radius: 4px;
    background-color: #F75E05;

    color: white;
}

/* Statistic */

.statistic {
    gap: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic-items {
    gap: 10px;
    display: flex;
    align-items: center;
}

.statistic-header {
    font-weight: 900;
    font-size: 30px;
}

.statistic-body {
    color: #1E212C;
}