.subscribe {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(/src/assets/pages/main/subscribe/background.png);
    padding: 170px;

    font-family: 'Lato';
    text-align: center;
    color: #1E212C;
}

.subscribe-form {
    gap: 10px;
    display: flex;
}

.subscribe-button {
    padding: 15px 40px;
    border-radius: 4px;
    background-color: #FF3F3A;

    color: white;
}

.email-input {
    padding: 0 120px 0 20px;
    border-radius: 4px;
    background-color: white;
}